<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${collectionInfo.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">身份证：</label>
								<div class="col-sm-8">
									<input id="idCard" name="idCard" th:value="${collectionInfo.idCard}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">采集日期：</label>
								<div class="col-sm-8">
									<input id="collectionDate" name="collectionDate" th:value="${collectionInfo.collectionDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">采集时间：</label>
								<div class="col-sm-8">
									<input id="collectionTime" name="collectionTime" th:value="${collectionInfo.collectionTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">实验方式：</label>
								<div class="col-sm-8">
									<input id="experimentalMode" name="experimentalMode" th:value="${collectionInfo.experimentalMode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">负责医生：</label>
								<div class="col-sm-8">
									<input id="responsibleDoctor" name="responsibleDoctor" th:value="${collectionInfo.responsibleDoctor}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">设备名称：</label>
								<div class="col-sm-8">
									<input id="deviceName" name="deviceName" th:value="${collectionInfo.deviceName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">精工平均屈光度：</label>
								<div class="col-sm-8">
									<input id="avgDiopter" name="avgDiopter" th:value="${collectionInfo.avgDiopter}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/collectionInfo/edit.js">
	</script>
</body>
</html>
