<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${riliImportData.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">实验序号：</label>
								<div class="col-sm-8">
									<input id="dataId" name="dataId" th:value="${riliImportData.dataId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch1：</label>
								<div class="col-sm-8">
									<input id="ch1" name="ch1" th:value="${riliImportData.ch1}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch2：</label>
								<div class="col-sm-8">
									<input id="ch2" name="ch2" th:value="${riliImportData.ch2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch3：</label>
								<div class="col-sm-8">
									<input id="ch3" name="ch3" th:value="${riliImportData.ch3}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch4：</label>
								<div class="col-sm-8">
									<input id="ch4" name="ch4" th:value="${riliImportData.ch4}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch5：</label>
								<div class="col-sm-8">
									<input id="ch5" name="ch5" th:value="${riliImportData.ch5}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch6：</label>
								<div class="col-sm-8">
									<input id="ch6" name="ch6" th:value="${riliImportData.ch6}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch7：</label>
								<div class="col-sm-8">
									<input id="ch7" name="ch7" th:value="${riliImportData.ch7}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch8：</label>
								<div class="col-sm-8">
									<input id="ch8" name="ch8" th:value="${riliImportData.ch8}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch9：</label>
								<div class="col-sm-8">
									<input id="ch9" name="ch9" th:value="${riliImportData.ch9}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch10：</label>
								<div class="col-sm-8">
									<input id="ch10" name="ch10" th:value="${riliImportData.ch10}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch11：</label>
								<div class="col-sm-8">
									<input id="ch11" name="ch11" th:value="${riliImportData.ch11}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch12：</label>
								<div class="col-sm-8">
									<input id="ch12" name="ch12" th:value="${riliImportData.ch12}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch13：</label>
								<div class="col-sm-8">
									<input id="ch13" name="ch13" th:value="${riliImportData.ch13}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch14：</label>
								<div class="col-sm-8">
									<input id="ch14" name="ch14" th:value="${riliImportData.ch14}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch15：</label>
								<div class="col-sm-8">
									<input id="ch15" name="ch15" th:value="${riliImportData.ch15}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch16：</label>
								<div class="col-sm-8">
									<input id="ch16" name="ch16" th:value="${riliImportData.ch16}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch17：</label>
								<div class="col-sm-8">
									<input id="ch17" name="ch17" th:value="${riliImportData.ch17}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch18：</label>
								<div class="col-sm-8">
									<input id="ch18" name="ch18" th:value="${riliImportData.ch18}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch19：</label>
								<div class="col-sm-8">
									<input id="ch19" name="ch19" th:value="${riliImportData.ch19}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch20：</label>
								<div class="col-sm-8">
									<input id="ch20" name="ch20" th:value="${riliImportData.ch20}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch21：</label>
								<div class="col-sm-8">
									<input id="ch21" name="ch21" th:value="${riliImportData.ch21}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ch22：</label>
								<div class="col-sm-8">
									<input id="ch22" name="ch22" th:value="${riliImportData.ch22}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">外部标记：</label>
								<div class="col-sm-8">
									<input id="mark" name="mark" th:value="${riliImportData.mark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">采集时间：</label>
								<div class="col-sm-8">
									<input id="time" name="time" th:value="${riliImportData.time}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">文件类型，1=oxy,2=deoxy,3=total,4=mes：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${riliImportData.type}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/riliImportData/edit.js">
	</script>
</body>
</html>
