<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="ibox">
            <!--<div id="main" style="width: 700px;height:400px;margin: 0 auto;"></div>-->
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="information:shibiaoData:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="information:shibiaoData:batchRemove" type="button"
                                class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <!--<div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="dataId3" type="text" class="form-control"
                               placeholder="请输入序号">
                    </div>-->
                </div>
                <input th:value="${id}" id="id" hidden>
                <table id="exampleTable3" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
       var s_edit_h = 'hidden';
       var s_remove_h = 'hidden';
       var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="information:shibiaoData:edit">
    <script type="text/javascript">
       s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="information:shibiaoData:remove">
    <script type="text/javascript">
       var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="information:shibiaoData:resetPwd">
    <script type="text/javascript">
       var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/information/shibiaoData/shibiaoDataDetail.js"></script>
<script src="/js/echarts/echarts-all.js"></script>

<script type="text/javascript" th:inline="javascript">
   var experimentalMode = [[${experimentalMode}]]

   var chartDOListMove = [[${chartDOListMove}]]
   if (chartDOListMove.length > 0) {
      var moveY = chartDOListMove.map(function (item) {
         return item['y'];
      });
      var moveX = chartDOListMove.map(function (item) {
         return item['x'].split(" ")[1];
      });
   }

   var lightx = [[${lightx}]]
   var light2y = [[${light2y}]]
   var light3y = [[${light3y}]]
   var light1y = [[${light1y}]]


   var barChart = echarts.init(document.getElementById("main"));
   if (experimentalMode == 3) {
      barChart.setOption({
         title: {
            text: '视标LED亮灭持续时间折线图'
         },
         tooltip: {
            trigger: 'axis'
         },
         legend: {
            data: ['Light1', 'Light2', 'Light3']
         },
         xAxis: {
            name: '(时间)',
            type: 'category',
            boundaryGap: false,
            data: lightx,
            minInterval: 0.4,
         },
         yAxis: {
            name: '(LED灯位置)',
            type: 'value'
         },
         series: [{
            name: 'Light1',
            type: 'line',
            step: 'end',
            data: light1y
         },
            {
               name: 'Light2',
               type: 'line',
               step: 'end',
               data: light2y
            },
            {
               name: 'Light3',
               type: 'line',
               step: 'end',
               data: light3y
            }]
      })
   }

</script>

</body>
</html>