<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div id="main" class="col-xs-12 col-sm-12" style="height:700px;width: 100%;"></div>

            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <!--<div class="columns pull-left">
                        <button shiro:hasPermission="information:riliData:add" type="button" class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="information:riliData:batchRemove" type="button" class="btn  btn-danger"
                            onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>-->
                    <!--<div class="columns pull-right">
                        <button class="btn btn-primary" onclick="exportAll(1)">导出全部</button>
                    </div>-->
                    <div class="columns pull-right">
                        <button class="btn btn-primary" onclick="exportAll(2)">导出有氧</button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-primary" onclick="exportAll(3)">导出无氧</button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoadOx(1)">有氧</button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoadOx(2)">无氧</button>
                    </div>
                    <!--<div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>-->
                    <!--<div class="columns pull-right col-md-2 nopadding">
                        <input id="dataId" type="text" class="form-control"
                               placeholder="请输入序号 ">
                    </div>-->
                    <input id="id" type="hidden" th:value="${id}"/>
                    <input id="type2" type="hidden" value="oxy">
                </div>
                <table id="exampleTable1" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
       var s_edit_h = 'hidden';
       var s_remove_h = 'hidden';
       var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="information:riliData:edit">
    <script type="text/javascript">
       s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="information:riliData:remove">
    <script type="text/javascript">
       var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="information:riliData:resetPwd">
    <script type="text/javascript">
       var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>

<script src="/js/echarts/echarts-all.js"></script>
<script type="text/javascript" src="/js/appjs/information/riliData/riliData.js"></script>


<script type="text/javascript" th:inline="javascript">


   /*var numdeoxy;
   if (xdeoxy.length > 500) {
      numdeoxy = 1
   } else if (xdeoxy.length > 200 && xdeoxy.length < 500) {
      numdeoxy = 5
   } else if (xdeoxy.length > 100 && xdeoxy.length < 200) {
      numdeoxy = 20
   } else if (xdeoxy.length > 50 && xdeoxy.length < 100) {
      numdeoxy = 40
   } else if (xdeoxy.length > 20 && xdeoxy.length < 50) {
      numdeoxy = 80
   } else {
      numdeoxy = 100
   }
*/


</script>
</body>
</html>